#### Question 2:

For this question, please make use of the attached JSON file (tweets.json). Make use of Spark SQL library to answer the following questions:
<ol>
<li>	Save the dataset as a DataFrame, and print the schema.</li>
<li>	Get all of the tweets made by a user (any user would work. We should be able to replace user names to get tweets by that particular user).</li>
<li>	Find count of all tweets by each user user.</li>
<li>	Get a list of all of the people who are mentioned in tweets.</li>
<li>	Count the number of time each person is mentioned in the entire dataset of tweets.</li>
<li>	Give top 50 users who are mentioned the most.</li>
<li>	Get a list of all hashtags mentioned in the dataset.</li>
<li>	Find how many times each hashtag is mentioned in the dataset.</li>
<li>	Get a list of all of the people who are located in a particular city (e.g. Paris)</li>
<li>	Get country wise distribution of users, and find out which country ranks highest in terms of number of tweets, and number of users.</li>
<li>	Find out number of tweets where a user is from France and mentions Paris in their tweets.</li>
</ol>


<b>Amit Kumar Sharma<b><br>
PGID: 71721079

In [1]:
import os
from pyspark.sql import SQLContext,Row,functions
from pyspark.sql.functions import split, explode,col,desc

### Save the dataset as a DataFrame, and print the scehma?

In [2]:
os.chdir('/Users/a5sharma/Documents/ISB/BDM/HWAssignment/Assignment')
tweets = sqlContext.read.json('file:///Users/a5sharma/Documents/ISB/BDM/HWAssignment/Assignment/data/tweets.json')

In [3]:
tweets.printSchema()

root
 |-- country: string (nullable = true)
 |-- id: string (nullable = true)
 |-- place: string (nullable = true)
 |-- text: string (nullable = true)
 |-- user: string (nullable = true)

In [4]:
tweets.count()

8198

In [5]:
tweets.columns

['country', 'id', 'place', 'text', 'user']

In [6]:
type(tweets)

pyspark.sql.dataframe.DataFrame

### Get all of the tweets made by a user?

#### getAllTweets method:

Parameter : UserName<br>

This method returns all the tweets made by a partucular user.

In [7]:
tweets.registerTempTable('tweets')
tweets.cache()

DataFrame[country: string, id: string, place: string, text: string, user: string]

In [8]:
sqlContext.sql("select text from tweets where user='s a v a n n a'").collect()

[Row(text=u'country music taught me how a man should treat a lady')]

In [9]:
def getAllTweets(u):
    sql = "select text from tweets where user='"+u+"'"
    return sqlContext.sql(sql).rdd.map(lambda x: x.text).collect()

In [10]:
getAllTweets('s a v a n n a')

[u'country music taught me how a man should treat a lady']

In [11]:
getAllTweets('Ghafla.co.ke')

[u"Capital FM's Amina Discusses Octopizzo And Khaligraph Jones And Their Beef http://t.co/miJtFJ87Sn",
 u'Suzanna Owiyo Describes An Ideal African Woman...And The Reasons Why She Will Not Lose Weight http://t.co/RxK6zhHe5a @SuzannaOwiyo',
 u'Suzanna Owiyo Describes An Ideal African Woman...And The Reasons Why She Will Not Lose Weight http://t.co/RxK6zhHe5a',
 u'This Is The Kenyan Artist That BBC Bet Their Money For. http://t.co/tSS8V8roWI @BBC',
 u'Caroline Mutoko Warns Women To Stop Calling Classic FM\u2019s Maina Kageni http://t.co/jMcZcm7CJN @ItsMainaKageni',
 u"Producer Behind Sauti Sol's Banned 'Nishike Video' Gives Reasons Why Kenya Needs More Of Such Videos http://t.co/nUIKRdJuXU",
 u'Nazizi Concedes Defeat To Tanzania And Uganda...But Who Is She Laying Her Blame On? http://t.co/L8wCg1Cod4',
 u'Sauti Sol, Juliani And Other East African Artistes Congregate In The Maasai Mara! See What They Were Up To http://t.co/xOm0PGCtcQ',
 u'Caroline Mutoko Warns Women To Stop Calling Classic FM\u2019s Maina Kageni http://t.co/jMcZcm7CJN',
 u'This Is The Kenyan Artist That BBC Bet Their Money For. http://t.co/tSS8V8roWI',
 u'Avril Dominates Once Again http://t.co/XY88POWaY8',
 u'Gloria Muliro\u2019s Ditched Husband Goes Back To His Rural Home http://t.co/INz0bdAlml',
 u'Nazizi Concedes Defeat To Tanzania And Uganda...But Who Is She Laying Her Blame On? http://t.co/L8wCg1Cod4',
 u'Gloria Muliro\u2019s Ditched Husband Goes Back To His Rural Home http://t.co/INz0bdAlml',
 u'Sauti Sol, Juliani And Other East African Artistes Congregate In The Maasai Mara! See What They Were Up To http://t.co/xOm0PGCtcQ',
 u'Suzanna Owiyo Describes An Ideal African Woman...And The Reasons Why She Will Not Lose Weight http://t.co/RxK6zhHe5a',
 u"Avril's Gigantic Fundamentals Groped By Ecstatic Students (Photos) http://t.co/heoXlgo6TE",
 u'Sauti Sol, Juliani And Other East African Artistes Congregate In The Maasai Mara! See What They Were Up To http://t.co/xOm0PGCtcQ',
 u'Sauti Sol, Juliani And Other East African Artistes Congregate In The Maasai Mara! See What They Were Up To http://t.co/xOm0PGCtcQ',
 u'Nonini\u2019s Efforts Pay Off! See The Staggering Six Figure Amount He Managed To Raise http://t.co/AxWqRd0339',
 u'Caroline Mutoko Warns Women To Stop Calling Classic FM\u2019s Maina Kageni http://t.co/jMcZcm7CJN @CarolineMutoko',
 u'Nazizi Concedes Defeat To Tanzania And Uganda...But Who Is She Laying Her Blame On? http://t.co/L8wCg1Cod4 @NaziziHirji',
 u'Suzanna Owiyo Describes An Ideal African Woman.And The Reasons Why She Will Not Lose Weight http://t.co/RxK6zhpCGA',
 u"Producer Behind Sauti Sol's Banned 'Nishike Video' Gives Reasons Why Kenya Needs More Of Such Videos http://t.co/nUIKRdJuXU",
 u'Suzanna Owiyo Describes An Ideal African Woman...And The Reasons Why She Will Not Lose Weight http://t.co/RxK6zhHe5a',
 u'Why Did Capital Fm\u2019s Amina Leave Homeboyz Radio? Was It Because She Dated Her Boss? Here Is the Truth http://t.co/BuBosawd0L',
 u'CMB Prezzo Meets Jose Chameleone...This Is What East Africa Should Expect From The Two http://t.co/pjnRXF7JN2',
 u'Revealed: Churchill\u2019s Other Side Hustle. The Other Job He Does Apart From Cracking Jokes http://t.co/cpu6w1DJpP',
 u'CMB Prezzo Meets Jose Chameleone...This Is What East Africa Should Expect From The Two http://t.co/pjnRXF7JN2',
 u'Nonini\u2019s Efforts Pay Off! See The Staggering Six Figure Amount He Managed To Raise http://t.co/AxWqRd0339',
 u'Sauti Sol, Juliani And Other East African Artistes Congregate In The Maasai Mara! See What They Were Up To http://t.co/xOm0PGCtcQ',
 u'Jose Chameleone, AY And Prezzo Floss With The Red Ferrari Causing A Stir In The City (Photos) http://t.co/bpxEyNglzx',
 u"Producer Behind Sauti Sol's Banned 'Nishike Video' Gives Reasons Why Kenya Needs More Of Such Videos http://t.co/nUIKRdJuXU @KagweMungai",
 u'Nonini\u2019s Efforts Pay Off! See The Staggering Six Figure Amount He Managed To Raise http://t.co/AxWqRd0339',
 u'Jose Chameleone Reveals Why He Is One Of The Richest Artistes In Africa http://t.co/175v2q4R6m',
 u'Why Did Capital Fm\u2019s Amina Leave Homeboyz Radio? Was It Because She Dated Her Boss? Here Is the Truth http://t.co/BuBosawd0L']

In [12]:
getAllTweets('amit')

[]

### Find count of all tweets by each user?

As there are 5967 users who tweeted, that's why I am displaying only top 50 users.

In [13]:
sqlContext.sql('select user, count(text) as cnt from tweets group by user').count()

5967

In [14]:
sqlContext.sql('select user, count(text) as cnt from tweets group by user order by cnt desc').take(50)

[Row(user=u'#QuissyUpSoon', cnt=258),
 Row(user=u'In\xe8s Mendes Askiip \u2665', cnt=185),
 Row(user=u'#4Rentinc', cnt=100),
 Row(user=u'MV', cnt=58),
 Row(user=u'williampriceking', cnt=46),
 Row(user=u'\u270c Follow Me MAEJOR \u270c', cnt=44),
 Row(user=u'Phillthy McNasty', cnt=43),
 Row(user=u'#AMNT KINGTAECRAZY', cnt=41),
 Row(user=u'K.O.H.O.R.T.S', cnt=41),
 Row(user=u'Ghafla.co.ke', cnt=36),
 Row(user=u'Ully U Music', cnt=35),
 Row(user=u'Codeclic', cnt=33),
 Row(user=u'TagineDiningGlobal', cnt=30),
 Row(user=u'Lord Dash', cnt=30),
 Row(user=u'Herri Setiawan', cnt=29),
 Row(user=u'Dell Feddi', cnt=29),
 Row(user=u'Kidrauhl Forever\u2764', cnt=25),
 Row(user=u'Trendsmap Paris', cnt=23),
 Row(user=u'#TurnYaSneakUp', cnt=22),
 Row(user=u'Bel ', cnt=19),
 Row(user=u'Change Barcelona!', cnt=18),
 Row(user=u'Lil Shadow', cnt=17),
 Row(user=u'alec reyes', cnt=17),
 Row(user=u'arianator', cnt=15),
 Row(user=u'Music Dir. F.Herrera', cnt=14),
 Row(user=u'davidfelician', cnt=13),
 Row(user=u'TheBeachKid', cnt=12),
 Row(user=u'Terra Rising Films', cnt=12),
 Row(user=u'ST\u2605RS RADIO 91,6 MHz', cnt=12),
 Row(user=u'Lionel Rigal', cnt=11),
 Row(user=u'Ecotour.com Deals', cnt=11),
 Row(user=u'Naijaloaded.com', cnt=10),
 Row(user=u'djmacdaddyshow', cnt=10),
 Row(user=u'@TranceAndGoodvibes', cnt=10),
 Row(user=u'Bobby Borg', cnt=9),
 Row(user=u'Levanta Brasil ', cnt=9),
 Row(user=u'Virtual Jukebox', cnt=9),
 Row(user=u'Dana Penland ', cnt=9),
 Row(user=u'30A Songwriter Radio', cnt=8),
 Row(user=u'ARS RADIO STATION', cnt=8),
 Row(user=u'Michael S. Osman', cnt=8),
 Row(user=u' DR. Kern M Quaccoo', cnt=8),
 Row(user=u'thedreamchazer\u2122', cnt=7),
 Row(user=u'.', cnt=7),
 Row(user=u'EnigmaCG', cnt=7),
 Row(user=u'Langelihle', cnt=7),
 Row(user=u'luizko', cnt=7),
 Row(user=u'Ana', cnt=7),
 Row(user=u'Big Shot Music Group', cnt=6),
 Row(user=u'Kayla', cnt=6)]

### Get a list of all of the people who are mentioned in tweets?

In [15]:
tweets.select(explode(split(tweets.text, ' ')).alias('people')).where("people like '@%'").show(10)

+---------------+
|         people|
+---------------+
|  @always_nidhi|
|       @YouTube|
|   @OnlyDancers|
|@IcelandNatural|
|       @AdeRais|
|      @BeezyDH_|
|  @blakeshelton|
|  @DjGregStreet|
|     @traceyb65|
|     @hokkazonn|
+---------------+
only showing top 10 rows

In [16]:
sqlContext.sql("select text from tweets where text like '%@%' and length(text) > 1").rdd.flatMap(lambda s: s.text.split(" ")).filter(lambda w : w.startswith('@')).map(lambda x: x.split('@')[1]).take(10)

[u'always_nidhi',
 u'YouTube',
 u'OnlyDancers',
 u'IcelandNatural',
 u'AdeRais',
 u'BeezyDH_',
 u'blakeshelton',
 u'DjGregStreet',
 u'traceyb65',
 u'hokkazonn']

In [17]:
tweets.rdd.flatMap(lambda s: s.text.split(" ")).filter(lambda w : w.startswith('@')).take(10)

[u'@always_nidhi',
 u'@YouTube',
 u'@OnlyDancers',
 u'@IcelandNatural',
 u'@AdeRais',
 u'@BeezyDH_',
 u'@blakeshelton',
 u'@DjGregStreet',
 u'@traceyb65',
 u'@hokkazonn']

### Count the number of time each person is mentioned in the entire dataset of tweets?

In [18]:
def wordCount(wordListDF):
    return wordListDF.groupBy('people').count()

peopleDF = tweets.select(explode(split(tweets.text, ' ')).alias('people')).where("people like '@%' and people !='@'")

topWordsAndCountsDF = wordCount(peopleDF).orderBy("count", ascending=False)
topWordsAndCountsDF.show(10)

+----------------+-----+
|          people|count|
+----------------+-----+
|    @ShawnMendes|  189|
|  @HIITMANonDECK|  100|
|@officialdjjuice|   59|
|         @MAEJOR|   45|
|    @MR_JAYJONES|   41|
|       @MeekMill|   35|
|@MadisonElleBeer|   30|
|              @…|   28|
|     @DjLordDash|   27|
|     @NICKIMINAJ|   25|
+----------------+-----+
only showing top 10 rows

In [19]:
per = tweets.rdd.flatMap(lambda s: s.text.split(" ")).filter(lambda w : w.startswith('@')).filter(lambda w: len(w) > 1)
per.map(lambda x: (x[1:],1)).reduceByKey(lambda x, y : x+y).sortBy(lambda x: x[1], ascending=False).take(10)

[(u'ShawnMendes', 189),
 (u'HIITMANonDECK', 100),
 (u'officialdjjuice', 59),
 (u'MAEJOR', 45),
 (u'MR_JAYJONES', 41),
 (u'MeekMill', 35),
 (u'MadisonElleBeer', 30),
 (u'\u2026', 28),
 (u'DjLordDash', 27),
 (u'NICKIMINAJ', 25)]

### Give top 50 users who are mentioned the most?

In [20]:
topWordsAndCountsDF.show(50)

+----------------+-----+
|          people|count|
+----------------+-----+
|    @ShawnMendes|  189|
|  @HIITMANonDECK|  100|
|@officialdjjuice|   59|
|         @MAEJOR|   45|
|    @MR_JAYJONES|   41|
|       @MeekMill|   35|
|@MadisonElleBeer|   30|
|              @…|   28|
|     @DjLordDash|   27|
|     @NICKIMINAJ|   25|
|        @ODTDANK|   17|
|    @waveyboyjam|   17|
| @OwehMuhammad24|   12|
|      @Spinrilla|   12|
|     @nascarrnat|   12|
|     @wizkhalifa|   12|
|    @ParisHilton|   10|
|  @therealjuicyj|   10|
|   @justinbieber|   10|
|@JackJackJohnson|    9|
|  @taylorswift13|    9|
|   @ArianaGrande|    8|
|     @maliachigh|    7|
| @PapychuroBwege|    7|
|  @ceejayseniour|    7|
|   @connectgares|    7|
|     @KeithUrban|    6|
|@1000HillsCoffee|    6|
|   @waziridello1|    6|
|   @TRANSTV_CORP|    6|
|   @jackgilinsky|    6|
|      @KlevaHH4L|    6|
|        @Madonna|    5|
| @aeroportsparis|    5|
|   @blakeshelton|    5|
|          @diplo|    5|
|    @DulyMisuly2|    5|
|  @samsmithworld|    5|
|      @PrillyBie|    5|
|  @dominicslowie|    5|
|        @YouTube|    5|
|  @Mathiasedson1|    5|
|    @CodySimpson|    5|
|    @NBCTheVoice|    5|
|  @bretteldredge|    4|
|         @9Gotti|    4|
|       @Luke5SOS|    4|
|         @BDozen|    4|
|   @Harry_Styles|    4|
|  @SMTOWNGLOBAL:|    4|
+----------------+-----+
only showing top 50 rows

In [21]:
person = tweets.rdd.flatMap(lambda s: s.text.split(" ")).filter(lambda w : w.startswith('@')).filter(lambda w: len(w) > 1)
person.map(lambda x: (x,1)).reduceByKey(lambda x, y: x+y).map(lambda x: (x[1],x[0])).sortByKey(ascending=False).take(50)

[(189, u'@ShawnMendes'),
 (100, u'@HIITMANonDECK'),
 (59, u'@officialdjjuice'),
 (45, u'@MAEJOR'),
 (41, u'@MR_JAYJONES'),
 (35, u'@MeekMill'),
 (30, u'@MadisonElleBeer'),
 (28, u'@\u2026'),
 (27, u'@DjLordDash'),
 (25, u'@NICKIMINAJ'),
 (17, u'@ODTDANK'),
 (17, u'@waveyboyjam'),
 (12, u'@Spinrilla'),
 (12, u'@wizkhalifa'),
 (12, u'@OwehMuhammad24'),
 (12, u'@nascarrnat'),
 (10, u'@ParisHilton'),
 (10, u'@justinbieber'),
 (10, u'@therealjuicyj'),
 (9, u'@JackJackJohnson'),
 (9, u'@taylorswift13'),
 (8, u'@ArianaGrande'),
 (7, u'@ceejayseniour'),
 (7, u'@connectgares'),
 (7, u'@maliachigh'),
 (7, u'@PapychuroBwege'),
 (6, u'@TRANSTV_CORP'),
 (6, u'@waziridello1'),
 (6, u'@KeithUrban'),
 (6, u'@KlevaHH4L'),
 (6, u'@1000HillsCoffee'),
 (6, u'@jackgilinsky'),
 (5, u'@samsmithworld'),
 (5, u'@aeroportsparis'),
 (5, u'@Mathiasedson1'),
 (5, u'@PrillyBie'),
 (5, u'@NBCTheVoice'),
 (5, u'@dominicslowie'),
 (5, u'@CodySimpson'),
 (5, u'@YouTube'),
 (5, u'@diplo'),
 (5, u'@blakeshelton'),
 (5, u'@Madonna'),
 (5, u'@DulyMisuly2'),
 (4, u'@Luke5SOS'),
 (4, u'@WeAreRockCity'),
 (4, u'@psybersind'),
 (4, u'@SMTOWNGLOBAL:'),
 (4, u'@maroon5'),
 (4, u'@londonsymphony')]

### Get a list of all hashtags mentioned in the dataset?

In [22]:
def wordCount(wordListDF):
    return wordListDF.groupBy('hashtag').count()

peopleDF = tweets.select(explode(split(tweets.text, ' ')).alias('hashtag')).where("hashtag like '#%'")
peopleDF.show(11)

+-------------------+
|            hashtag|
+-------------------+
|    #shutUpAndDANCE|
|            #SHINee|
|#AMBER(@llama_ajol)|
|              #JR50|
|         #flipagram|
|               #DME|
|          #ROADBOYZ|
|      #QuissyUpSoon|
|        #nowplaying|
|            ##

Why|
|          #iloveyou|
+-------------------+
only showing top 11 rows

In [23]:
tweets.rdd.flatMap(lambda s: s.text.split(" ")).filter(lambda w : w.startswith('#')).filter(lambda w: len(w) > 1).take(11)

[u'#shutUpAndDANCE',
 u'#SHINee',
 u'#AMBER(@llama_ajol)',
 u'#JR50',
 u'#flipagram',
 u'#DME',
 u'#ROADBOYZ',
 u'#QuissyUpSoon',
 u'#nowplaying',
 u'##\n\nWhy',
 u'#iloveyou']

### Find how many times each hashtag is mentioned in the dataset?

In [24]:
topWordsAndCountsDF = wordCount(peopleDF).orderBy("count", ascending=False)
topWordsAndCountsDF.show(10)

+-------------------+-----+
|            hashtag|count|
+-------------------+-----+
|               #DME|  253|
|          #ROADBOYZ|  251|
|             #music|  236|
|             #Paris|  144|
|#QuissyUpSoon🔥🔥💯|  129|
|      #QuissyUpSoon|  120|
| #Trippythursdaymia|  100|
|             #Music|   84|
|    #MaejorMeAndYou|   44|
|              #IGGL|   41|
+-------------------+-----+
only showing top 10 rows

In [25]:
hashtag = tweets.rdd.flatMap(lambda s: s.text.split(" ")).filter(lambda w : w.startswith('#')).filter(lambda w: len(w) > 1)
hashtag.map(lambda x: (x,1)).reduceByKey(lambda x, y : x+y).sortBy(lambda x: x[1], ascending=False).take(10)

[(u'#DME', 253),
 (u'#ROADBOYZ', 251),
 (u'#music', 236),
 (u'#Paris', 144),
 (u'#QuissyUpSoon\U0001f525\U0001f525\U0001f4af', 129),
 (u'#QuissyUpSoon', 120),
 (u'#Trippythursdaymia', 100),
 (u'#Music', 84),
 (u'#MaejorMeAndYou', 44),
 (u'#StuntTeam', 41)]

### Get a list of all of the people who are located in a particular city?

#### getAllUsers method:

Parameter : CityName

This method returns all the users who are located in a particular city.

In [26]:
def getAllUsers(city):
    sql = "select distinct user from tweets where place='"+city+"'"
    return sqlContext.sql(sql).rdd.map(lambda x: x.user).collect()

In [27]:
getAllUsers('London')

[u'Alexander Lewis',
 u'Thomas Stone',
 u'David Przybilla',
 u'genny drinkwater',
 u'LL',
 u'Garey [G Money] ',
 u'Samuel A Moppett',
 u'519 iIreland',
 u'Poonnn',
 u'Askonas Holt',
 u'MellowRema',
 u'leif womack',
 u'BAKU',
 u'THC OUT NOWW!!',
 u'Ally Beaton',
 u'TheButterflyCrosses ',
 u'Alexandra Vaiay',
 u'LDNMayor Culture',
 u'Fatin Rozaili',
 u'Anil kumar',
 u'Ivan',
 u'Farah Tuffaha',
 u'PredictionIO',
 u'wyd??']

In [28]:
getAllUsers('Mumbai')

[u'glamsham.com',
 u'ArtistAloud.com',
 u'Amaresh Patnaik',
 u'Neha Pai',
 u'Ashima Saxena',
 u'shubham',
 u'Hrishikesh J. Chury',
 u'Brendon Faleiro',
 u'SINGER MINTU',
 u'D@ttu ',
 u'Shloka']

### Get country wise distribution of users, and find out which country ranks highest in terms of number of tweets, and number of users?

Some countries name are not in english, that's why using encode function to convert non-english characters to english characters.

In [29]:
import unicodedata
import pyspark.sql.functions as func

In [30]:
s2 = sqlContext.sql("select encode(country,'US-ASCII') country, count(distinct user) user_cnt, count(text) tweets_cnt from tweets group by country order by user_cnt desc, tweets_cnt desc")
s2.rdd.map(lambda s: Row(country = s.country.decode(), user_cnt = s.user_cnt, tweets_cnt=s.tweets_cnt)).take(50)

[Row(country=u'United States', tweets_cnt=4841, user_cnt=3595),
 Row(country=u'France', tweets_cnt=737, user_cnt=377),
 Row(country=u'United Kingdom', tweets_cnt=365, user_cnt=301),
 Row(country=u'Indonesia', tweets_cnt=370, user_cnt=278),
 Row(country=u'Brasil', tweets_cnt=256, user_cnt=183),
 Row(country=u'Canada', tweets_cnt=172, user_cnt=154),
 Row(country=u'Republika ng Pilipinas', tweets_cnt=151, user_cnt=127),
 Row(country=u'Australia', tweets_cnt=90, user_cnt=77),
 Row(country=u'South Africa', tweets_cnt=92, user_cnt=73),
 Row(country=u'Argentina', tweets_cnt=104, user_cnt=57),
 Row(country=u'India', tweets_cnt=66, user_cnt=56),
 Row(country=u'??', tweets_cnt=57, user_cnt=52),
 Row(country=u'M?xico', tweets_cnt=59, user_cnt=47),
 Row(country=u'Malaysia', tweets_cnt=50, user_cnt=37),
 Row(country=u'T?rkiye', tweets_cnt=42, user_cnt=36),
 Row(country=u'Espa?a', tweets_cnt=53, user_cnt=32),
 Row(country=u'?????????', tweets_cnt=31, user_cnt=31),
 Row(country=u'Colombia', tweets_cnt=33, user_cnt=27),
 Row(country=u'Nederland', tweets_cnt=25, user_cnt=23),
 Row(country=u'Deutschland', tweets_cnt=24, user_cnt=23),
 Row(country=u'Nigeria', tweets_cnt=33, user_cnt=22),
 Row(country=u'Italia', tweets_cnt=30, user_cnt=22),
 Row(country=u'Ireland', tweets_cnt=29, user_cnt=20),
 Row(country=u'New Zealand', tweets_cnt=22, user_cnt=18),
 Row(country=u'Chile', tweets_cnt=16, user_cnt=16),
 Row(country=u'Jamaica', tweets_cnt=12, user_cnt=12),
 Row(country=u'Rossiya', tweets_cnt=12, user_cnt=11),
 Row(country=u'Singapore', tweets_cnt=11, user_cnt=11),
 Row(country=u'Belgi?', tweets_cnt=11, user_cnt=11),
 Row(country=u'Schweiz', tweets_cnt=13, user_cnt=10),
 Row(country=u'Sverige', tweets_cnt=13, user_cnt=10),
 Row(country=u'Venezuela', tweets_cnt=12, user_cnt=10),
 Row(country=u'Dominican Republic', tweets_cnt=12, user_cnt=10),
 Row(country=u'Kenya', tweets_cnt=44, user_cnt=9),
 Row(country=u'Ghana', tweets_cnt=38, user_cnt=9),
 Row(country=u'????', tweets_cnt=11, user_cnt=8),
 Row(country=u'???????? ??????? ???????', tweets_cnt=9, user_cnt=7),
 Row(country=u'??????? ??????? ????????', tweets_cnt=7, user_cnt=7),
 Row(country=u'Panama', tweets_cnt=7, user_cnt=7),
 Row(country=u'Norge', tweets_cnt=7, user_cnt=6),
 Row(country=u'Ecuador', tweets_cnt=6, user_cnt=6),
 Row(country=u'??????? ???????? ????????', tweets_cnt=11, user_cnt=5),
 Row(country=u'Portugal', tweets_cnt=10, user_cnt=5),
 Row(country=u'?????', tweets_cnt=7, user_cnt=5),
 Row(country=u'Suomi', tweets_cnt=6, user_cnt=5),
 Row(country=u'?????', tweets_cnt=5, user_cnt=5),
 Row(country=u'?sterreich', tweets_cnt=5, user_cnt=5),
 Row(country=u'Hellas', tweets_cnt=5, user_cnt=5),
 Row(country=u'Tanzania', tweets_cnt=16, user_cnt=4),
 Row(country=u'Peru', tweets_cnt=6, user_cnt=4)]

In [31]:
s2.count()

119

### Find out number of tweets where a user is from France and mentions Paris in their tweets?

In [32]:
sqlContext.sql("select text from tweets where country='France' and text like '%Paris%'").take(10)

[Row(text=u'@Ashton5SOS be more excited for the show in Paris \U0001f60e\U0001f60d\U0001f60f\U0001f601\U0001f1eb\U0001f1f7\U0001f1eb\U0001f1f7\U0001f1eb\U0001f1f7 !!!'),
 Row(text=u"'pivert', 'usagers' et 'biodiversit\xe9' est d\xe9sormais une tendance dans #Paris http://t.co/JhhMB0UzO7"),
 Row(text=u'@jhornain D\xe9couvrez les derniers taux de r\xe9ussite des auto-\xe9coles \xe0 #Paris : http://t.co/q5sDKvD9Dp http://t.co/TLCMk7Wq6L'),
 Row(text=u'Happy campers! #DisneyParks #Paris @ Disneyland Paris https://t.co/Vpf50bA3qX'),
 Row(text=u"@YFEFRANCE Hey! YFE, c'est pas le genre de msique que j'\xe9coute ms c'est bien! J'irai donc les voir gd ils passeront \xe0 Paris.Riennevautlelive"),
 Row(text=u'Op\xe9ra Garnier Paris @operadeparis : exposition Rameau (1683-1764) jusqu\u2019au 22 mars magique http://t.co/PtiWDoYBEU http://t.co/7XZvHfj1B5"'),
 Row(text=u'#Disneyland #Paris @ Disneyland Paris https://t.co/GNZzUMdAvV'),
 Row(text=u'd\xe9part pour Paris \U0001f684'),
 Row(text=u'#Passing the #cafe du M\xe9tro, #Paris @ Caf\xe9 du M\xe9tro https://t.co/BuguC87vBj'),
 Row(text=u"I'm at ESP - Salle 1&2 in Paris, France w/ @chrissnts https://t.co/7S4JEDveae")]

In [33]:
sqlContext.sql("select count(1) cnt from tweets where country='France' and text like '%Paris%'").collect()

[Row(cnt=403)]